* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0d0d0d;
    color: white;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.search-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    background-color: #171717;
    border-radius: 25px;
    padding: 10px;
    width: 500px;
}

.search-container input {
    border: none;
    background: none;
    color: white;
    width: 500px;
    padding: 10px;
    border-radius: 50px;
    outline: none;
}

.search-container input::placeholder {
    color: #bbb;
}

.bottom-left-buttons {
    position: absolute;
    bottom: 20px;
    left: 20px;
    display: flex;
    gap: 10px; 
}

.bottom-left-buttons button {
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 14px;
}